# Virtual environments
.venv/
env/
venv/

*.swp
**.swp

__pycache__/

uv.lock

.env

.DS_Store

.vscode/

.pytest_cache/

!out/.gitkeep
out/*

resources/data/Heart_Disease_Prediction.csv:Zone.Identifier

