.venv/
env/
venv/

*.bak

*.swp
**.swp

__pycache__/

uv.lock

.env

.DS_Store

.vscode/

.pytest_cache/

!out/.gitkeep
out/*

resources/data/db/*.db

resources/data/Heart_Disease_Prediction.csv:Zone.Identifier

results/agent/*
!results/agent/.gitkeep

results/explorer/*
!results/explorer/.gitkeep

results/pure/*
!results/pure/.gitkeep



